.perspective {
  // @apply bg-blue-900;
  // @apply bg-gradient-to-t from-blue-900 to-blue-800;
  @apply bg-gray-900;
  @apply overflow-hidden;
  perspective: 300px;
  cursor: none;

  &__bg {
    @apply absolute w-full h-full;
    @apply bg-cover bg-repeat z-30 opacity-20 bg-hacker-700 bg-blend-multiply;
    @apply pointer-events-none;
    background-size: 50%;
    background-image: url("/images/perspective/scanlines-3.png") !important;
  }

  &__menu {
    // @apply bg-blue-500 p-3;
    // @apply w-60;
    // @apply h-72;
    @apply z-10;
    @apply flex flex-col space-y-3;
    @apply w-96;

    &__button {
      @apply relative;
      @apply flex items-center justify-between space-x-5;
      @apply bg-hacker-700 w-full bg-opacity-80;
      @apply py-6 px-5;
      @apply text-center rounded-lg;
      @apply text-hacker-200 text-5xl uppercase font-bold;
      text-shadow: 2px 2px 0px #02d8a9;
      @apply shadow-xl shadow-hacker-800;
      @apply border-hacker-600 border-4;

      perspective: 500px;

      & > svg {
        // @apply border border-red-500;
        @apply w-12 h-12;
      }

      & > span {
        @apply text-left flex-1;
      }

      &:hover,
      &:focus {
        @apply text-white;
        @apply bg-opacity-100;
      }

      &__holo {
        @apply rounded-lg;
        @apply absolute w-full h-full;
        @apply border-4 border-hacker-400;
      }
    }
  }

  &__canvas {
    @apply absolute w-full h-full z-0;
  }

  .cursor {
    width: 28px;
    height: 28px;
    @apply border-2 border-hacker-100;
    @apply text-hacker-100;
    @apply rounded-md;
    position: absolute;
    pointer-events: none;
    @apply flex items-center justify-center opacity-60;
    z-index: 20;
  }
  @keyframes cursorAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .expand {
    animation: cursorAnim 0.5s forwards;
  }
}
